*~
.ptolemy-compiled
_kepler.build.iml
actors/
authentication-gui/
authentication/
biokepler/
build-area/
build-kepler.sh~
cloud-sharing/
common/
component-library/
configuration-manager/
core/
data-handling/
dataone/
dataturbine/
ddp-common/
ddp/
directors/
display-redirect/
ecogrid/
event-state/
gis/
gui/
hadoop/
installers.txt
io/
javadoc/
job/
kepler-tasks/
kepler.bat
kepler.ipr
kepler.iws
kepler.jar
kepler.sh
kepler/
loader/
module-manager-gui/
module-manager.bat
module-manager.sh
module-manager/
nightly/
opendap/
outreach/
profiling/
provenance/
ptolemy/
r/
reporting/
repository/
sms/
spark/
ssh/
stratosphere/
tagging/
util/
web-view/
workflow-run-manager/
workflow-scheduler-gui/
